body {
    background:lightgrey;
}

.main-div {
    border-radius: 10px;
    border: 10px solid #01a3a4;
    width: 400px;
    height: auto;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    background: white;
    color: black;
    overflow-y: auto;
}

   .header-div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    height: 80px;
    background: grey;
    color: white;
  }

  .main-test-div {
    display: flex;
    flex-direction: column;
  }

  select.select-div {
    width: 50%;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 5px;
    border-radius: 10px;
    background: white;
    text-align-last: center;
    font-size: 18px;
}
.input-unit {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 100%;
}

select.input-select {
    width: 40%;
    height: 30px;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    text-align-last: center;
    font-size: 15px;
}
.inputs-layout-out {
    margin-top: 0;
    margin-bottom: 10px;
    width: 100%;
    height: 40px;
}
.inner-input-div {
    height: 30px;
    width: 40%;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    text-align-last: center;
}

.app-button {
    margin-bottom: 20px;
    width: 100%;
    height: 30px;
}

button.submit {
    height: 30px;
    width: 40%;
    text-align-last: center;
    font-size: 17px;
    background: lightsteelblue;
    border-radius: 10px;
}

